html {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: 'Bebas Neue', sans-serif;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    line-height: 1.5;
    background: linear-gradient(115.92deg, #1C1C26 1.28%, #272B19 100%);
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: black;
    margin: 2em;
}

h1 {
    color: white;
    text-align: center;
    font-size: 66px;
    font-weight: bold;
}

h2 {
    font-weight: bold;
    color: #005A9C;
    font-size: 140%;
    text-transform: uppercase;
}

/*p {*/
/*    margin: 1em 0;*/
/*}*/

#intro{
    color: white;
    text-align: center;
    margin-top: 17%;
    font-size: 20px;
}
#info{
    color: white;
    text-align: left;
    margin-top: 20%;
    margin-left: 20%;
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
red {
    color: red;
}

nav ul {
    list-style: none;
    margin-top: 50px;
    padding: 0;
    text-align: center;
    font-size: 20px;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px;
}

a:hover {
    color: #787879;
}

li {
    list-style: none;
    margin-bottom: 1rem;
}

#formats {
    margin-top: 0.5rem;
    font-size: 80%;
}

#menu {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 10px;
}
.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*.members img {*/
/*    margin: 10px;*/
/*}*/

a {
    text-decoration: none;
    color: white;
}

a #name{
    margin-top: 5%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 9.8%;
    text-align: center;
    padding: 3px;
    color: white;
}

@media only screen and (max-width: 600px) {
    /* Mobile styles */
    h1 {
        font-size: 48px;
    }

    nav ul {
        margin-top: 10%;
        font-size: 16px;
    }

    button {
        height: 40px;
        font-size: 16px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Tablet styles */
    h1 {
        font-size: 64px;
    }

    nav ul {
        margin-top: 15%;
        font-size: 18px;
    }

    button {
        height: 45px;
        font-size: 18px;
    }
}